<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/housing">Samit</a></td>
        <td><a href="{{site.baseurl}}/food">Martin</a></td>
        <td><a href="{{site.baseurl}}/sports">Derek</a></td>
        <td><a href="{{site.baseurl}}/activities">Ethan</a></td>
        <td><a href="{{site.baseurl}}/family-night">Evaluation</a></td>
        <td><a href="{{site.baseurl}}/gallery">Agile Manifesto</a></td>
        <td><a href="{{ site.baseurl }}/movie_review/login/login">Log in</a></td>
    </tr>
</table>
