<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Welcome</a></td>
        <td><a href="{{site.baseurl}}/housing">Samit</a></td>
        <td><a href="{{site.baseurl}}/food">Aiden</a></td>
        <td><a href="{{site.baseurl}}/sports">Jeffrey</a></td>
        <td><a href="{{site.baseurl}}/activities">Jonathan</a></td>
        <td><a href="{{site.baseurl}}/family-night">Evaluation</a></td>
        <td><a href="{{site.baseurl}}/gallery">Agile Manifesto</a></td>
        <td><a href="{{ site.baseurl }}/movie_review/login/login">Log in</a></td>
    </tr>
</table>
